@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?36909548');
  src: url('../font/icon.eot?36909548#iefix') format('embedded-opentype'),
       url('../font/icon.woff?36909548') format('woff'),
       url('../font/icon.ttf?36909548') format('truetype'),
       url('../font/icon.svg?36909548#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.svg?36909548#icon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-paperclip:before { content: '\e800'; } /* '' */
.icon-chat:before { content: '\e801'; } /* '' */
.icon-check-box:before { content: '\e802'; } /* '' */
.icon-doctor-male:before { content: '\e803'; } /* '' */
.icon-doctor-female:before { content: '\e804'; } /* '' */
.icon-modern-facilities:before { content: '\e805'; } /* '' */
.icon-play-video:before { content: '\e806'; } /* '' */
.icon-checkmark:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-medical-savings:before { content: '\e809'; } /* '' */
.icon-member-male:before { content: '\e80a'; } /* '' */
.icon-member-female:before { content: '\e80b'; } /* '' */
.icon-pdf-1:before { content: '\e80c'; } /* '' */
.icon-stethoscope:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-touch:before { content: '\e80f'; } /* '' */
.icon-info:before { content: '\e810'; } /* '' */
.icon-list-view:before { content: '\e811'; } /* '' */
.icon-globe:before { content: '\e812'; } /* '' */
.icon-heart:before { content: '\e813'; } /* '' */
.icon-doctor-male-profile:before { content: '\e814'; } /* '' */
.icon-calculator:before { content: '\e815'; } /* '' */
.icon-doctor-female-profile:before { content: '\e816'; } /* '' */
.icon-award:before { content: '\e817'; } /* '' */
.icon-doc:before { content: '\e818'; } /* '' */
.icon-attachment:before { content: '\e819'; } /* '' */
.icon-compose-1:before { content: '\e81a'; } /* '' */
.icon-more:before { content: '\e81b'; } /* '' */
.icon-message:before { content: '\e81c'; } /* '' */
.icon-preferences:before { content: '\e81d'; } /* '' */
.icon-questions:before { content: '\e81e'; } /* '' */
.icon-print:before { content: '\e81f'; } /* '' */
.icon-secured:before { content: '\e820'; } /* '' */
.icon-rx:before { content: '\e821'; } /* '' */
.icon-time:before { content: '\e822'; } /* '' */
.icon-graph:before { content: '\e823'; } /* '' */
.icon-arrow:before { content: '\e824'; } /* '' */
.icon-specialty-care:before { content: '\e825'; } /* '' */
.icon-member-card:before { content: '\e826'; } /* '' */
.icon-locations:before { content: '\e827'; } /* '' */
.icon-medical-record:before { content: '\e828'; } /* '' */
.icon-home:before { content: '\e829'; } /* '' */
.icon-find:before { content: '\e82a'; } /* '' */
.icon-forms:before { content: '\e82b'; } /* '' */
.icon-email:before { content: '\e82c'; } /* '' */
.icon-copay:before { content: '\e82d'; } /* '' */
.icon-date:before { content: '\e82e'; } /* '' */
.icon-document:before { content: '\e82f'; } /* '' */
.icon-call:before { content: '\e830'; } /* '' */
.icon-dollar:before { content: '\e831'; } /* '' */
.icon-arrow-down:before { content: '\e832'; } /* '' */
.icon-arrow-up:before { content: '\e833'; } /* '' */
.icon-pdf:before { content: '\e834'; } /* '' */
.icon-png:before { content: '\e835'; } /* '' */
.icon-jpg:before { content: '\e836'; } /* '' */
.icon-gif:before { content: '\e837'; } /* '' */
.icon-bmp:before { content: '\e838'; } /* '' */
.icon-circle-checkmark:before { content: '\e839'; } /* '' */
.icon-circle-plus:before { content: '\e83a'; } /* '' */
.icon-web-camera:before { content: '\e83b'; } /* '' */
.icon-pencil:before { content: '\e83c'; } /* '' */
.icon-trashcan:before { content: '\e83d'; } /* '' */
.icon-down-arrow:before { content: '\e83e'; } /* '' */
.icon-none-available:before { content: '\e83f'; } /* '' */
.icon-circle-x:before { content: '\e840'; } /* '' */
.icon-refresh:before { content: '\e841'; } /* '' */
.icon-alarm:before { content: '\e842'; } /* '' */
.icon-up-arrow:before { content: '\e843'; } /* '' */
.icon-shoppingcart:before { content: '\e844'; } /* '' */
.icon-compose:before { content: '\e845'; } /* '' */
.icon-chevron-arrow:before { content: '\e846'; } /* '' */
.icon-wifi:before { content: '\e847'; } /* '' */
.icon-facility:before { content: '\e848'; } /* '' */
.icon-camera-photo:before { content: '\e849'; } /* '' */
.icon-piggybank:before { content: '\e84a'; } /* '' */
.icon-alert:before { content: '\e84b'; } /* '' */
.icon-reply:before { content: '\e84c'; } /* '' */
.icon-mouse:before { content: '\e84d'; } /* '' */
.icon-cancel:before { content: '\e84e'; } /* '' */
.icon-info-circled:before { content: '\e84f'; } /* '' */
.icon-spin5:before { content: '\e850'; } /* '' */
.icon-menu:before { content: '\e851'; } /* '' */
.icon-schedule-appt:before { content: '\e852'; } /* '' */
.icon-calendar:before { content: '\e853'; } /* '' */
.icon-circle-minus:before { content: '\e854'; } /* '' */
.icon-minus:before { content: '\e855'; } /* '' */
.icon-chevron-arrow-left:before { content: '\e856'; } /* '' */