<!DOCTYPE html>
<html lang="en">
<head>
  <title>KP Styleguide :: Lists</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="main.css" />
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>

<body>
  <header class="styleguide-header">
    <button id="menu-button" class="device-menu-button">Menu</button>
    <img src='assets/images/kp-icon.svg' alt="Kaiser Permanente Logo" class="logo" />
    <a href="index.html"><span class="desktop-only">Web Design</span> Styleguide</a>
  </header>

  <main class="styleguide-main">
    <article>
      <section>
        <h2 class="styleguide-section-heading">Lists</h2>
        <h3 class="styleguide-subheading">Horizontal</h3>
        <div class="example -padded">
          <ul class="horizontal-list">
            <li>Seattle</li>
            <li>San Francisco</li>
            <li>Los Angeles</li>
          </ul>
        </div>

        <div class="example -padded">
          <ul class="horizontal-list -divided">
            <li>Seattle</li>
            <li>San Francisco</li>
            <li>Los Angeles</li>
          </ul>
        </div>

        <h3 class="styleguide-subheading">Vertical</h3>
        <div class="example -padded">
          <ul class="vertical-list">
            <li>Seattle</li>
            <li>San Francisco</li>
            <li>Los Angeles</li>
          </ul>
        </div>

        <div class="example -padded">
          <ul class="vertical-list -divided">
            <li>Seattle</li>
            <li>San Francisco</li>
            <li>Los Angeles</li>
          </ul>
        </div>
      </section>
    </article>
  </main>
</body>
</html>
