<!DOCTYPE html>
<html lang="en">

  <head>
    <title>KP Styleguide :: JS Components</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="main.css" />
    <script src="modern.bundle.js"></script>
  </head>

  <body>
    <header class="styleguide-header">
      <button id="menu-button" class="device-menu-button">Menu</button>
      <img src='assets/images/kp-icon.svg' alt="Kaiser Permanente Logo" class="logo" />
      <a href="index.html"><span class="desktop-only">Web Design</span> Styleguide</a>
    </header>
    <div class="current-breakpoint">
      Current Breakpoint:
      <span class="mobile-only">Mobile</span>
      <span class="tablet-only">Tablet</span>
      <span class="small-desktop-only">Small Desktop</span>
      <span class="desktop-only">Desktop Medium</span>
      <span class="large-desktop-only">Large Desktop</span>
    </div>

    <main class="styleguide-main">
      <nav id="navbar" class="styleguide-navigation hidden">
        <ul>
          <li><a href="#accordion">Accordion</a></li>
          <li><a href="#dropdown">Dropdown</a></li>
        </ul>
      </nav>

      <article class="styleguide-content">
        <section id="about-section">
          <h2 class="styleguide-section-heading">
          READ ME FIRST
        </h2>
          <p class="fuchsia" style="padding: 15px;">ATTENTION:
            <br /> The following patterns are experimental & subject to change.
            <br /> If you find any issues with them, please contribute to fix them.
          </p>
          <p>The patterns on this page are ochestrated with javascript to fully function.</p>
        </section>

        <section id="accordion">
          <h2 class="styleguide-section-heading">Accordion</h2>
          <p>Accordions are a treated as a group of expandable items in which opening one will reveal content associated with its label. The markup below is required to acheive the functionality written in <a href="https://stash.kp.org/projects/RWD/repos/styleguide/browse/lib/modern/scripts/accordion.js">lib/scripts/modern/accordion.js</a></p>
          <p>The expected keyboard functionality is required in order to make this pattern keyboard accessible:</p>
          <ul>
            <li>TAB key to enter/exit accordion</li>
            <li>ARROW keys to change tabs</li>
            <li>and ENTER or SPACEBAR to expand/collapse tabs</li>
          </ul>
          <pre><code class="language-javascript">import accordion from 'styleguide/lib/modern/scripts/accordion';
accordion($("#hipstaccordion"));</code></pre>
          <div class="example -padded">
            <div id="hipstaccordion" class="accordion">
              <div class="-group">
                <button class="-heading" aria-selected="false" role="link">
                  <h3 class="item-heading">Fanny Pack Four Dollar Toast</h3>
                  <p class="auxiliary-text">Blue Bottle Sriracha</p>
                </button>
                <div class="-content" data-content="true" aria-hidden="true">
                  <h4 class="item-subheading">Cliche Flannel Tweet</h4>
                  <p class="auxiliary-text">Brunch offal bushwick chambray biodiesel pitchfork slow-carb vice chicharrones lomo paleo. Tacos offal chicharrones craft beer, fanny pack lo-fi yr meditation wayfarers pug bicycle rights. Occupy pop-up ennui, portland retro street art
                    banjo kogi shabby chic 3 wolf moon. Crucifix echo park bespoke, ugh shoreditch semiotics neutra austin PBR&B etsy hella occupy. Banjo gentrify pop-up, kombucha poutine salvia quinoa shoreditch organic chambray art party ramps.</p>
                </div>
              </div>
              <div class="-group">
                <button class="-heading" aria-selected="false" role="link">
                  <h3 class="item-heading">Kombucha Church-Key Listicle</h3>
                  <p class="auxiliary-text">Disrupt Waistcoat Marfa</p>
                </button>
                <div class="-content" data-content="true" aria-hidden="true">
                  <h4 class="item-subheading">Pour-over Wolf VHS Helvetica</h4>
                  <p class="auxiliary-text">Kitsch keytar tacos hammock XOXO, austin meggings gentrify hoodie art party 3 wolf moon gochujang. Kombucha church-key listicle, typewriter forage mixtape locavore fingerstache synth you probably haven't heard of them leggings next level.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="dropdown">
          <h2 class="styleguide-section-heading">
          Dropdown
        </h2>
          <p>
            Dropdown that contains a list of links used for selection. Please find the corresponding Javascript below.
          </p>
          <pre><code class="language-javascript">
            $('.select-dropdown').each(function() {
              var $element = $(this);
              var $select = $element.find('select');
              var $value = $element.find('.select-value');
              // Bind event handlers to select
              $select.on({
                'change keyup': function() {
                  $value.text($select.val());
                },
                'focus': function() {
                  $element.addClass('focus');
                },
                'blur': function() {
                  $element.removeClass('focus');
                }
              });
              $select.trigger('change');
            });
          </code>
        </pre>
          <div class="example -padded-desktop">
            <div class="select-dropdown">
              <div class="dropdown-overlay" aria-hidden="true">
                <label class="select-form-label" for="select-dropdown">choose a team</label>
                <span class="select-value" aria-hidden="true"></span>
                <i class="icon-chevron-down" aria-hidden="true"></i>
              </div>
              <select class="select-menu">
                <option value="Golden State Warriors">Golden State Warriors</option>
                <option value="LA Lakers">LA Lakers</option>
                <option value="LA Clippers" >LA Clippers</option>
              </select>
            </div>
          </div>

          <p>
            Add <code>.-form</code> to the dropdown to style it as the main dropdown used on the top of many features, meant to be used in forms.
          </p>
          <div class="example -padded-desktop">
            <div class="select-dropdown -form">
              <div class="dropdown-overlay " aria-hidden="true">
                <label class="select-form-label" for="select-dropdown">choose a team</label>
                <span class="select-value" aria-hidden="true"></span>
                <i class="icon-chevron-down" aria-hidden="true"></i>
              </div>
              <select class="select-menu">
                <option value="Golden State Warriors">Golden State Warriors</option>
                <option value="LA Lakers">LA Lakers</option>
                <option value="LA Clippers" >LA Clippers</option>
              </select>
            </div>
          </div>
        </section>
      </article>
    </main>
  </body>

</html>
