<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Design Styleguide</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="modern.bundle.js"></script>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="styleguide-header">
      <span id="menu-button" class="device-menu-button icon-menu"></span>
      <span class="desktop-only">Web Design</span> Styleguide
    </header>
    <div class="container two-columns">
      <h2>Moved Modern styleguide to <a href="index.html">index.html</a></h2>
    </div>
  </body>
</html>
